
/* estilizando body */
body {
    place-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* estilizando o link antes de ele ser tocado */
a{
    color: #454b3d;
    text-decoration: none;
    transition: 0.3s;
}

/* estilizando o link para quando o mouse estiver sobre ele */
a:hover{
    font-weight: bold;
}

/* estilizando o cabeçalho */
header {
    box-sizing: border-box;
    box-shadow: 5px 1px 10px rgb(176, 166, 166);
    place-items: center;
    width: 100%;
    height: 9vh;
    font-size: 1.2rem;
    padding: 1vh 5vw;
    background-color: gainsboro;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6f756b;
    position: sticky;
    top: 0;
}

/* ------------ Main------------- */

main {
    color: #454b3d;
    background-color:#6f756b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* estilizando a div que contem a imagem e o texto */
.img_txt {
    box-sizing: border-box;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 5vw;
    gap: 10%;
    text-align: center;
}

#eusorrindo {
    width: 30%;
    height: auto;
    border-radius: 50%;
}

/* estilizando a parte do texto */
.img_txt div {
    text-align: left;
    width: 40%;
    color: rgb(99, 89, 89);
    font-size: 1.2rem;
}

#meutexto {
    width: 80%;
    text-align: justify;
}

/* estilizando a div que contem os hobbies e o ranking */
.hobbies_rank {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    color: aliceblue;
}

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    color:#6f756b
}

.ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    color:#6f756b;
} 

.ranking ol{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

.hobbies ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

li {
    display:flex;
    box-shadow: 5px 5px 10px rgb(67, 74, 67);
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    background-color: aliceblue;
    width: 6vw;
    height: 20vh;
    border-radius: 8px;
    font-size: small;
    padding: 2%;
    box-sizing: border-box;
    font-weight: bold;
}

/* colocando o ranking em alguns */
.diferente{
    justify-content: space-between;
}

.numero {
    display:flex;
    width: 100%;

}

.hobbies p, .ranking p {
    color: aliceblue;
    width: 40%;
    font-size: 1.2rem;
}

#frase_hobbies {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 2px;
    flex-direction:row;
    width: 90%;
    text-align: right;
}

#frase_rank {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    width: 90%;
    text-align: left;
}

/* --------- Formulario --------- */

.formulario {
    margin-top: 40px;
    width: 90%;
    height:20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

#caixas {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: center;
    width: 90%;
    height: 90%;
}

#caixas input {
    box-sizing: border-box;
    width: 100%;
    height: 10vh;
    font-family: Calibri;
    border-radius: 8px;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
    background-color: aliceblue;
}

#caixas textarea {
    box-sizing: border-box;
    background-color: aliceblue;
    font-family: Calibri;
    font-size: 1rem;
    width: 100%;
    height: 10vh;
    border-radius: 8px;
    border: none;
    padding: 1rem 1rem;
}

#caixas button {
    transition: 0.5s;
    background-color: aliceblue;
    border: none;
    transform: translateX(300%);
    width: 10vw;
    height: 4vh;
    border-radius: 8px;
    border: none;
}

#caixas button:hover {
    font-weight: bold;
    box-shadow: 5px 5px 10px rgb(67, 74, 67);
}

.formulario h4 {
    display: flex;
    align-items: left;
    width: 95%;
    font-size: 1.5rem;
    color: aliceblue;
} 

/* footer */

footer {
    display:flex;
    justify-content: center;
    gap: 10rem;
    width: 100%;
    height: 7vh;
    padding: 2vh 5vw;
    background-color: aliceblue;
    box-sizing: border-box;
}

footer nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#redes a img {
    width: 32px;
    height: 32px;
}

#redes {
    display: flex;
    gap: 20px;
}

/* ----- Responsividade -------- */

@media screen and (max-width: 431px){

    /* -------Header------ */
    header{
        font-size: 0.8rem;
    }

    /* --------Main-------- */

    /* -- Imagem e Texto -- */

    /* alterando a direcao */
    .img_txt {
        flex-direction: column;
        align-items: center;
    }

    /* redimensionando a imagem */
    #eusorrindo {
        width: 50%;
    }

    /* redimensionando texto */
    .img_txt div {
        width: 90%
    }

    /* redimensionando texto */
    #meutexto {
        width:100%;
    }

    /* -- Caixas -- */

    /* estilizando a que contem hobbies e ranking */
    .hobbies_rank {
        flex-direction: column;
    }

    /* mudando as caixas */
    li {
        width: 104px;
        height: 150px;
    }

    /* mudancas comuns entre as caixas */
    .hobbies ul, .ranking ol {
        width: 90vw;
        flex-wrap: wrap;
    }

    /* adicionando uma margem ao topo do ranking*/
    .ranking {
        margin-top: 20px;
    }

    /* mudando o posicionamento das frases */
    #frase_rank, #frase_hobbies {
        width: 90vw;
        justify-content: flex-start;
    }   

    /* -- Feedback -- */

    /* redimensionando caixa input */
    #caixas input {
        height: 5vh;
    }

    /* redimensionando caixa textarea */
    #caixas textarea {
        height: 5vh;
        padding: 1px 1rem;
    }

    /* mexendo no botao */
    #caixas button{
        transform: none;
        width: 20vw;
    }

    /* --------Footer--------- */
    footer{
        box-sizing: border-box;
        padding: 5px;
        height: 10vh;
    }

    footer nav{
        flex-direction: column-reverse;
        gap: 5px;
    }
}